:root{
  --sidebar-bg-color: #33CCFF;
  --siderbar-text-color: white; 
  --sidebar-width:clamp(210px, 28vw, 325px);
  --transition-sidebar:width 0.4s ease-in;
  --transition-header:margin-left 0.1s ease-in;

  --header-bg-color:#F8F8FF;
  --search-bar-bg-color: #DCDCDC;

  --btn-bg-color:#1E90FF;

  --main-bg-color: #F5f5f5;

  --card-bg-color: #FFFAFA;
  --card-border-color:#fa8f04;
  --card-text-color:#808080;


a {
  text-decoration: none;
}


}

body{
  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-areas: 
  'sidebar header'
  'sidebar main'
  ;

  grid-template-columns: 0.3fr 5fr;
  grid-template-rows: 0.8fr 5fr;
  row-gap: 0rem;
}

/* Sidebar */
.sidebar{
  /* root grid setting */
  grid-area: sidebar;
  /* sidebar styling */
  background-color: var(--sidebar-bg-color);
  height: 100%;
  transition: var(--transition-sidebar);
  padding-top: 1vh;
}

.sidebar-dashboard{
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--siderbar-text-color);
  margin-left: 4rem;
}

.sidebar .sidebar-dashboard:first-child>img{
  display: flex;
  width: 60px;
  height: 60px;
}

.sidebar .sidebar-dashboard:not(:first-child)>img{
  display: flex;
  width: 30px;
  height: 30px;
}

/* Sidebar interactivity*/
.sidebar-dashboard > *{
  cursor: pointer;
}

.sidebar-dashboard> h1,
.sidebar-dashboard> h2{
  opacity: 0;
  max-width: 0px;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.4s ease-in, max-width 0.4s ease-in;
}

.sidebar:hover{
  width: var(--sidebar-width);
}

.sidebar:hover > .sidebar-dashboard> h1,
.sidebar:hover > .sidebar-dashboard >h2{
  opacity: 1;
  max-width: 200px;
}

.sidebar:hover ~ .header,
.sidebar:hover ~ .main{
  padding-left: 3rem;
}

/* Sidebar Icon Spacing*/
.sidebar .sidebar-dashboard:first-child{
  margin-bottom: 4rem;
  margin-left: 3rem;
  column-gap: 1rem;
}

.sidebar .sidebar-dashboard:nth-child(8){
  margin-top: 3rem;
}

.sidebar .sidebar-dashboard:nth-child(n+2):nth-child(-n+6),
.sidebar .sidebar-dashboard:nth-child(n+7):nth-child(-n+9)
{
  margin-bottom: 1rem;
}


/* Header Nav */
.header{
  /* nested grid setting */
  display: grid;
  grid-template-areas: 
  'top-row top-row'
  'bottom-row bottom-row';

  /* root grid setting */
  grid-area: header;

  padding:1.5rem, 4rem;
  background-color:  var(--header-bg-color);
  border-bottom: 2px solid rgb(219, 219, 219);

  transition: var(--transition-header);
}

.top-row{
  /* header grid setting */
  grid-area: top-row;

  display: grid;
  grid-template-columns: 1fr max-content;
  padding-bottom: 2vw;

}

.search-bar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  flex-direction: row;
  width: 100%;
  padding-left: 3vw;
  
}

.search-bar > input{
  display: inline-block;
  border: 0px;
  background-color: var(--search-bar-bg-color);
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  border-radius: 12px;
  width: min(80%, 1200px);
  
}

.acc-details{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 800;

  padding-right: 3vw;
  gap: 2.5vw;
  
}

.acc-details .avatar-1{
  height: 50px;
  width: 50px;

}

.bottom-row{
  /* header grid setting */
  grid-area: bottom-row;

  display: grid;
  grid-template-areas: 
  'avatar profile buttons';
  grid-template-columns: 0.1fr 0.2fr 1fr;
  padding-left: 40px;
  padding-bottom: 1.8vh;
}

.bottom-row .avatar{
  height: 85px;
  width: 85px;
  margin: auto;
}

.profile{
  margin-top: 9px;
}

.name{
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  /* width: max(1220px, 60%); */
  overflow: auto;
  
}

.buttons{
  display: flex;
  padding-right: 3vw;
  justify-content: flex-end;
  align-items: center;

  gap: 2vw;
}

.btn{
  background-color: var(--btn-bg-color);
  border: none;
  border-color: none;
  border-radius: 10px;
  width: 100px;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px;
  cursor: pointer;
}





/* Main Body */
.main{
  /* nested grid setting */
  display: grid;
  grid-template-areas: 
  'projects announcements'
  'projects trending';
  grid-template-columns: 2fr auto;
  grid-template-rows:min-content 1fr;
  
  /* root grid setting */
  grid-area: main;


  /* main styling */
  background-color: var(--main-bg-color);
  height: 100%;
  padding-top: 4vh;
  overflow: scroll;
}

.projects h3{
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.projects{
  /* main grid setting */
  grid-area: projects;

  /* nested grid settings */
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */

  /* projects styling  */
  padding-left:4rem;
  
}

.projects .cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  
  gap: 2rem;
  padding-bottom: 2rem;

}

.projects .card{
  display: flex;
  flex-direction: column;

  background-color: var(--card-bg-color);
  border-left: 10px solid var(--card-border-color);
  border-radius: 0.6rem;
  padding-top:1.8rem;
  padding-left: 1.2rem;
  padding-right: 0.8rem;
  padding-bottom: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
  font-size: 1.2rem;
}

.card-text{
  color: var(--card-text-color);
}

.card-symbols{
  display: flex;
  flex-direction: row;
  margin-top: auto;
  gap:2rem;
  align-self: flex-end;
}

.card-symbols > *{
  cursor: pointer;
}

.announcements{
  /* main grid setting */
  grid-area: announcements;

  /* announcement styling */
  margin-left: 2.2rem;
  width: 45ch;
}

.announcements h3{
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.announcements .card{
  background-color: var(--card-bg-color);
  font-size: 0.8rem;
  width: clamp(150px, 90%, 650px);
  border-radius: 0.6rem;
  padding : 2.3rem 2.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card > p:not(:last-child){
  color: var(--card-text-color);
  margin-bottom:2rem;
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 2rem;

}

.card h5{
  font-size: 0.9rem;
}

.trending{
  /* main grid setting */
  grid-area: trending;

  /* trending styling */
  margin-left: 2.2rem;
  margin-top: 1rem;
  margin-bottom:2.5rem;
}

.trending h3{
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.trending-cards{
  background-color: var(--card-bg-color);
  font-size: 0.8rem;
  width: clamp(150px, 90%, 650px);
  border-radius: 0.6rem;
  padding : 2.3rem 2.6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  list-style-type: none;

  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}

.username-text{
  font-size: 0.8rem;
  color: var(--card-text-color);
}

.username{
  font-size: 1.1rem;
  font-weight: bold;
}

ul.trending-cards li>div:first-child{
    height: 50px;
    width: 50px;
}

.trending-cards li {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
}